.navigation-link{
    position: relative;
}
.navigation-link:after{
    content:"";
    position: absolute;
    background-color: #034694;
    height: 2.5px;
    width: 0;
    left: 0;
    bottom:0;
    transition: 0.3s;
}
.navigation-link:hover:after{
    width: 100%;
}
.navigation-link:hover{
    color: black;
}
