.AdminDashboard{
    display: flex;
}
.HomeContainerAdmin{
    flex: 4;
}

/* leftsidebar css */
.leftsidebar{
    flex: 1;
    border-right: 0.5px solid lightgray;
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.top{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color: rgb(242, 32, 242);
    text-decoration: none;
}
.logo:hover{
    text-decoration: none;
    color: rgb(242, 32, 242);
}
.hr-left{
    height: 0;
    border: 0.5px solid lightgray;
}
.center{
    padding-left: 30px;
}
.center ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.left-side-li{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.left-side-li:hover{
    background-color: rgb(230, 213, 246);
}
.icon-color{
    font-size: 25px;
    color: #ce51f8;
}
.left-span{
    font-size: 16px;
    font-weight: 600;
    color: #888;
    margin-left: 13px;
    text-decoration: none;
}
.left-span:hover{
    text-decoration: none;
    color: #888;
}
.left-span:hover .drop-leftsidebar{
    display: block;
}

.drop-leftsidebar{
    display: none;

}
.drop-leftsidebar ul li{
    /* line-height: 13px; */
    margin: 15px;
}

.title{
    font-size: 14px;
    font-weight: bold;
    color: #c9c7c7;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
}


/* NavbarAdmin css */

.admin-nav{
    height: 50px;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #555;
    padding: 33.4px;
    
}

.wrapper-admin{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-admin{
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 3px;
}
.search-admin input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    margin-left: 5px;
}
.items-admin{
    display: flex;
    align-items: center;
}
.item-admin{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


/* Job Dashboard css */
.listContainer{
    -webkit-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.75);
box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.75);
margin: 20px;
padding: 20px;
}
.listTitle{
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
}

/* Mainbar Dashboard css */
.mainbar-cont{
    width: 100%;
    padding: 20px;
    color: #ce51f8;
}
.mainbar2-cont{
    width: 100%;
    height: 350px;
    /* background-color: #ce51f8; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainbar3-cont{
    width: 95%;
    height: 90%;
    /* background-color: aquamarine; */
    border-radius: 10px;
    display: flex;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
}

.profile{
    width: 300px;
    /* background-color: brown; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainbar-img img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.basicinfo{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.basicinfo-1{
    width: 800px;
    height: 90px;
    /* background-color: #888; */
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

